= link_to album_path(album['id']) do
  .box.panel.panel-default
    = image_tag album['artworkUrl100'], class: 'album_images'
    .panel-body
      %h5
        = album['collectionName']
      %p.artist
        Artist:
        = album['artistName']
