= link_to album do
  .box.panel.panel-default
    = image_tag album.artwork, class: 'album_images'
    .panel-body
      %h5
        = album.title
      %p.artist
        Artist:
        = album.artist.name
