/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require 'masonry/transitions'
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

nav {
  position: fixed;
  top: 0px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  height: 80px;
  .navbar-brand {
    a {
      color: #BD1E23;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
thead tr {

}

tr.song {
  max-height: 100px;
  td.vert-align {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
  }
}

.hvr-grow {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
  &:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    filter: none;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  }
}



.loading-pagination {
  height:30px;
  width:30px;
  display:block;
  margin:50px auto;
}

nav.pagination{
  display: none;
}
